/* Colors:
Dark Blue: #0E2B49
Sky blue: #59C1F9
Red: #d11d1d
Off-white: #F9F8F4
Gray: #b7b6c2
 */


@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans);

body {
	background-color: #0e2b49;
	margin: 0px;
}
header {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #0e2b49;
	color: #F9F8F4;
}
header h1 {
	display: inline-block;
	height: inherit;
	color: #F9F8F4;
	font-size: 39px;
}
header h1 img {
	max-width: 100%;
}
nav {
	display: inline-block;
	vertical-align: middle;
	height: inherit;
	height: 50px;
	background-color: #F9F8F4;
	border-radius: 10px;
}
nav a {
	display: inline-block;
	line-height: 50px;
	list-style: none;
	width: 25%;
	font-family: Georgia, "Times New Roman", serif;
	color: #000;
	text-align: center;
	font-size: 17px;
	margin: 0px;
	transition: background-color 0.5s ease;
}
nav a:hover {
	background-color: #F00;
	text-decoration: none;
	color: #000;
}
.main {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #F9F8F4;
	border-top: #f00 2px solid;
}
footer {
	background-color: #0e2b49;
	color: #fff;
	margin-top: 20px;
}

/*Specific to Index*/
.zip {
	font-family: "Open Sans", Lato, Arial, sans-serif;
	width: 20em;
	background-color: #59C1F9;
	padding: 1.5em;
	/*border-radius: 25px;*/
	color: #fff;
	font-size: 200%;
	margin: 5em auto;
	font-weight: bold;
	text-align: center;
/*	border: 3px #fff solid;*/
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

   font-variant: small-caps;
}
.zip input[type="text"] {
	width: 3.8em;
	color: #000;
	padding: 5px;
	font-size: 90%;
}
.zip input[type="button"] {
	border: none;
	margin-top: 1em;
	background-color: #fff;
	color: #d11d1d;

}