@import url(https://fonts.googleapis.com/css?family=Lato);
body {
	background-color: #103F54;
	margin: 0px;
}
header {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #103F54;
	color: #F9F8F4;
}
header h1 {
	display: inline-block;
	height: inherit;
	color: #F9F8F4;
	font-size: 39px;
}
header h1 img {
	max-width: 100%;
}
nav {
	display: inline-block;
	vertical-align: middle;
	height: inherit;
	height: 50px;
	background-color: #F9F8F4;
	border-radius: 10px;
}
nav a {
	display: inline-block;
	line-height: 50px;
	list-style: none;
	width: 25%;
	font-family: Georgia, "Times New Roman", serif;
	color: #000;
	text-align: center;
	font-size: 17px;
	margin: 0px;
	transition: background-color 0.5s ease;
}
nav a:hover {
	background-color: #F00;
	text-decoration: none;
	color: #000;
}
.main {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #F9F8F4;
	border-top: #f00 2px solid;
}
footer {
	background-color: #103F54;
	color: #fff;
	margin-top: 20px;
}

/*Specific to Index*/
.zip {
	font-family: Lato, Arial, sans-serif;
	width: 15em;
	background-color: #27aedb;
	padding: 1.5em;
	border-radius: 20px;
	color: #fff;
	font-size: 200%;
	margin: 30px auto;
	font-weight: bold;
	text-align: center;
	border: 1px #000 solid;
}
.zip input {
	width: 4em;
	color: #000;
}