/* Colors:
Dark Blue: #0E2B49
Sky blue: #59a7f9
Red: #d11d1d
Off-white: #F9F8F4
Gray: #b7b6c2
Grayish dark blue: #334c66;
 */


@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans|Montserrat);

body {
  background-color: #0e2b49;
  margin: 0px;
  font-family: "Open Sans", Lato, Arial, sans-serif;
}

/*Header*/
header {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #0e2b49;
  color: #F9F8F4;
}

/*Logo*/
header h1 {
  display: inline-block;
  height: inherit;
  color: #F9F8F4;
  font-size: 39px;
}
header h1 img {
  max-width: 100%;
}

/*Navigation*/
.navwrapper {
  background-color: #334c66;
  width: 100%;
  text-align: center;
}
nav {
  display: inline-block;
  vertical-align: middle;
  height: inherit;
  height: 50px;
  background-color: #334c66;
}
nav a {
  display: inline-block;
  line-height: 50px;
  list-style: none;
  width: 20%;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 0px;
  transition: background-color 0.5s ease;
}
nav a:hover {
  background-color: #59a7f9;
  text-decoration: none;
  color: #fff;
}
nav .selected {
  background-color: #d11d1d;
}

/*Search*/
.zip_input {
  width: 3.8em;
  color: #000;
  padding: 5px;
  font-size: 90%;
}



/*Main Content Area*/
.main {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #F9F8F4;
  border-top: #d11d1d 3px solid;
}

/*Footer*/
footer {
  background-color: #0e2b49;
  color: #fff;
  margin-top: 20px;
}

/*Other styles*/
.flatbox {
  font-family: "Open Sans", Lato, Arial, sans-serif;
  width: 20em;
  background-color: #59a7f9;
  padding: 1.5em;
  color: #fff;
  font-size: 200%;
  font-weight: bold;
}
.flatbox input[type="button"] {
  border: none;
  margin-top: 1em;
  margin-bottom: -.5em;
  background: #F9F8F4;
  color: #d11d1d;
  padding: .2em .5em;
  font-size: 80%;
}



/*Specific to Index*/
.zip {
  margin: 5em auto;
  text-align: center;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

   font-variant: small-caps;
}
