extend layout
//- block localCSS
//- block localJS

block vars
	- var title= "404"

block content
	h2 Page Not Found
	p
		| We can't find the given page. It may have been deleted or moved. Consider checking the spelling of the URL, or return 
		a(href="/") home
		| .