extend indexlayout
//- block vars
//- block localCSS
//- block localJS

block content
	h1 Home
	p Lobortis neque augue. Reprehenderit, scelerisque, rerum? Harum nonummy, consectetur faucibus anim sunt cum, harum, eget velit placerat sunt cursus! Iure. Dicta ad? Quidem, sapiente? Suspendisse. Aliqua nibh! Consectetur, magni, temporibus aliquid saepe ullamcorper tempore hymenaeos praesentium. 

