extend indexlayout

//- block vars

//- block localCSS

//- block localJS



block content

  div.zip.flatbox

    p Enter your zip code: &nbsp;

      input.zip_input(type="text" autofocus)

      input(type="button" value="Submit")
