extend indexlayout
//- block vars
//- block localCSS
//- block localJS

block content
	div(class="zip")
		p Enter your zip code: &nbsp; 
			input(type="text" autofocus)
			br
			input(type="button" value="Submit")
