extend indexlayout

//- block vars

//- block localCSS

//- block localJS



block content

  div(class="zip flatbox")

    p Enter your zip code: &nbsp;

      input(type="text" class="zip_input" autofocus)



      input(type="button" value="Submit")

