block vars

doctype html
html
	head
		title= 'VoteBoat' + (title? ' | ' + title : '')
		
		//- Global CSS
		link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='/css/main.css')
		link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/dt-1.10.9,b-1.0.3/datatables.min.css")
		link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
		
		block localCSS
		
	body
		//- Global Header
		header
			.container
				div.logo.col-xs-12.col-sm-8
					img(src="images/logo.png") 
					a(href='/home')
				nav.col-xs-12.col-sm-10
				
				.search
					p Search:
						input(type="search" id="search" placeholder="Zipcode")

		if (election)
			h1.title #{election}
		else
			h1.title Generic election

		div.navwrapper
			nav.container
				a(href="/electioninfo") Election Info
				a(href="/candidates") Candidates
				a(href="/referendums") Referendums

		//- Body
		div.container-fluid.main
			.container
				block content
		
				hr
		//- Global Footer
		footer
			.container
					p.
						© 2015 by VoteBoat.
		
		//- Global JavaScript
		script(type="text/javascript", src='/bower_components/jquery/dist/jquery.min.js')
		script(type="text/javascript", src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(type="text/javascript", src="https://cdn.datatables.net/r/bs/dt-1.10.9,b-1.0.3/datatables.min.js")
		script(type='text/javascript' src='/js/main.js')
			
		block localJS