block vars

doctype html
html
	head
		title= 'VoteBoat' + (title? ' | ' + title : '')
		
		//- Global CSS
		link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='/css/main.css')
		link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/dt-1.10.9,b-1.0.3/datatables.min.css")
		link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
		
		block localCSS
		
	body
		//- Global Header
		header
			.container
				div.logo.col-xs-12.col-sm-8
					img(src="images/logo.png")
				nav.col-xs-12.col-sm-10
				
				.search
					p Search For More Elections:
						input(type="search" class="zip_input" id="search" placeholder="Search..")

		if (election)
			h1.title #{election}
		else
			h1.title Generic election

		div.navwrapper
			nav.container
				a(href="") Election Info
				a(href="") Candidates
				a(href="") Referendums
				a(href="") Thing


		//- Body
		div.container-fluid.main
			.container
				block content
		
				hr
		//- Global Footer
		footer
			.container
					p.
						© 2015 by VoteBoat.
		
		//- Global JavaScript
		script(type="text/javascript", src='/bower_components/jquery/dist/jquery.min.js')
		script(type="text/javascript", src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(type="text/javascript", src="https://cdn.datatables.net/r/bs/dt-1.10.9,b-1.0.3/datatables.min.js")
		script(type='text/javascript' src='/js/main.js')
			
		block localJS