block vars

doctype html
html
	head
		title= 'VoteBoat' + (title? ' | ' + title : '')
		
		//- Global CSS
		link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='/css/main.css')
		link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
		
		block localCSS
		
	body
		//- Global Header
		header
			.container
				h1(class="col-xs-12 col-sm-8")
					img(src="images/logo.png")
				.search
					p Search For More Elections:
						input(type="text" class="zip_input")
				


		//- Body
		div(class="navwrapper")
			nav(class="container")
				a(href="") Election Info
				a(href="") Candidates
				a(href="") Referendums
				a(href="") Thing

		div(class='container-fluid main')
			.container
				block content
		
		//- Global Footer
		footer
			.container
					p.
						© 2015 by VoteBoat.
		
		//- Global JavaScript
		script(type="text/javascript", src='/bower_components/jquery/dist/jquery.min.js')
		script(type="text/javascript", src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(type='text/javascript' src='/js/main.js')
			
		block localJS