extend ../layout

block content
	h2 Candidates
	table(class="candidate_table table table-bordered")
		tr
			td &nbsp;
			each candidate in candidates
				td.candidate #{candidate.name}

		each question in questions
			tr
				td.question #{question.text} 
				each candidate in candidates
					td #{candidate.name}, #{candidate.election}
