extend ../layout

block content
	h2 Candidates
	table
		each question in questions
			tr
				td #{question.text}
			tr 
				each candidate in candidates
					td #{candidate.name}, #{candidate.election}
