extend ../indexlayout

block content
	p Look at all these elections!
	.container
		each election in elections
			div(class="flatbox container election")
				p(class="date") August 14, 2020
				p #{election.name}, #{election.level}