extend ../layout



block content
	.container
		h1.headertext
			p Showing elections for #{zipcode}

		each election in elections
			div.flatbox.container.election
				p.date_wrapper
					span.date #{election.date}
				p #{election.name}, #{election.level}