extend ../indexlayout



block content
	.container
		h1(class="headertext slideInLeft")
			p Showing elections for #{zipcode}

		each election in elections
			div(class="flatbox container election")
				p(class="date") #{election.date}
				p #{election.name}, #{election.level}