extend ../layout

block localJS
	script(type='text/javascript' src='/js/public/electioninfo.js')
	link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')

block content
		fieldset

			legend Election Information

			h1 Statistics

			h1 Candidates

				h2 Bernie Sanders (Democrat) 
				img.div(src='images/sanders.jpg')


				h2 Martin O'Malley (Democrat)
				img.div(src='malley.png')

				h2 Hillary Clinton (Democrat)
				img.div(src='clinton.jpg')

				h2 Donald Trump (Republican)
				img.div(src='trump.jpg')

				h2 Jeb Bush (Republican)
				img.div(src='bush.jpg')

		form.form-horizontal
			h1 Crowd Source Questions
			.control-group
				label.form-control(for='email') Question
				.controls
					input#question(placeholder='question' type='text' name='question' required)
						
			.control-group
				.controls
					button.btn.login-block(type='submit') Ask
