extend ../layout

block localJS
	script(type='text/javascriot' src='/js/public/signup.js')
	link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')

block content
	p Look at the signup page!

	form.form-horizontal
		fieldset
			legend Sign Up

			.control-group
				label.form-control(for='email') Email
				.controls
					input(type='email' name='email' required)

			.control-group
				label.form-control(for='email') Password
				.controls
					input(type='password' name='password' required)

			.control-group
				.controls
					button.btn(type='submit') Sign up



