extend ../layout

block localCSS
	link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')

block localJS
	script(type='text/javascript' src='/js/public/signup.js')

block content
	form#signup.form-horizontal
		fieldset.col-md-offset-3.col-md-6
			h1 Sign Up
			
			.form-group
				label.control-label.col-md-3 Email
				.col-md-9
					input.form-control(type='email' name='email' required)

			.form-group
				label.control-label.col-md-3 Password
				.col-md-9
					input.form-control(type='password' name='password' required)
			
			br
						
			.form-group
				label.control-label.col-md-3 First Name
				.col-md-9
					input.form-control(type='text' name='firstName' required)
			
			.form-group
				label.control-label.col-md-3 Last Name
				.col-md-9
					input.form-control(type='text' name='lastName' required)

			.form-group
				label.control-label.col-md-3 Date of Birth
				.col-md-9
					input.form-control(type='date' name='dob' required)
			
			.form-group
				label.control-label.col-md-3 Profile Picture
				.col-md-9
					input.form-control(type='file' name='profilePhoto' required)

			.form-group
				label.control-label.col-md-3 Autobiography
				.col-md-9
					textarea.form-control(name='about' rows='5' cols='15' style='resize: vertical;' required)
			
			
			.form-group
				label.control-label.col-md-3 Political Party
				.col-md-9
					select.form-control(name='party' required)
						option(selected disabled hidden value='')
						option(value='-1') Add new party...
						
						for party in parties
							option(value='#{party.id}')= party.name
			
			.form-group(style='display: none;')
				label.control-label.col-md-3 
				.col-md-9
					input.form-control(type='text' name='newParty' placeholder='Your Party')
			
			.form-group.text-center
				button.btn.btn-default(type='submit') Sign Up
