extend ../layout
block content
	h1 How to Vote
	
	h3 Step 1 
	p Register to vote.  Every US Citizen over 18 not currently serving prison time is eligible to vote.  Some states offer online registration.  Visit <a href="http://canIVote.org" target="_blank">Can I Vote</a>for more information.
	
	h3 Step 2
	p Find your designated polling location at <a href="http://canIVote.org" target="_blank">Can I Vote</a>.  Check what you need to bring when you vote.  Some voting stations require specific forms of ID.
	
	h3 Step 3
	p Figure out the date of the next election.  Enter your zip code <a href="http://node.jrdbnntt.com/" target="_blank">here</a> and find the closest local and federal elections.  Many elections happen the first Tuesday of November.
	
	h3 Step 4
	p Check out the information about the candidates.  Figure out which candidates share your views.  Ask questions and read their responses.  Be open-minded: don't just rely on party affiliation when deciding who to vote for.
	
	h3 Step 5
	p Go to the polling location and vote!